# Environment
.env

# Node
frontend/node_modules/
frontend/.angular/

# Logs
*.log
php_server.log
frontend/angular_server.pid
php_server.pid

# macOS
.DS_Store
__MACOSX/

# IDE
.vscode/
.idea/

# Local PHP server
router.php.bak
